body {
  background-color: #e3fdfd;
}

hr {
  background-color: #e3fdfd;
  border-style: dotted none none;
  border-color: gray;
  height: 3px;
  width: 3%;
  border-width: 5px;
}

img {
  border-radius: 50%;
}

h1, h3 {
    color: #66BFBF;
}
